{% assign page = include.page %}
{% assign site = include.site %}
{% assign isHome = page.isHome | default: false %}

<header class="header">
    <nav class="nav{% assign isHome_is_not_empty = isHome | is_not_empty %}{% if isHome_is_not_empty %} nav--dark{% endif %}{% if isHome != true %} nav--dark{% endif %}">
        <div class="nav__logo">
            <a href="/">
                {% if isHome == true or page.layout == 'product' %}

                    {% include picture.html image=site.logos.dark cssClass='footer_logo nav__logo-image' alt='Helen Suter Jewelry logo' %}
                {% else %}

                    {% include picture.html image=site.logos.dark cssClass='footer_logo nav__logo-image' alt='Helen Suter Jewelry logo' %}
                {% endif %}
            </a>
        </div>
        <ul class="nav__menu">
            {% for item in site.menus.main %}
                {% assign section = page.section | default: page.title %}
                {% if item.title == section %}
                    {% assign isActive = true %}{% else %}
                    {% assign isActive = false %}{% endif %}
                <li class="nav__menu-item">
                    <a href="{{ item.url | relative_url }}" class="nav__menu-item-link{% assign isActive_is_not_empty = isActive | is_not_empty %}{% if isActive_is_not_empty %} nav__menu-item-link--active{% endif %}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
