.footer {
  @include container-properties;
  background-color: $color_medium;

  &__container {
      @include container-item-properties;
      padding-top: 60px;
      padding-bottom: 50px;
      display: flex;
  }


  &__nav {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      @include smaller-than-tablet { display: none; }
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
        margin-right: 40px;
    }
  }

  &__logo {
    height: 40px;
    margin-right: 50px;
    margin-bottom: 25px;
  }

  &__nav-link {
    color: $color_light;
    font-weight: bold;
}

  &__legal-notice {
      display: flex;
      padding-bottom: 25px;
}
  &__legal-notice-item {
      color: $color_light;
      font-weight: normal;


  }
}
