---
layout: body
---

<main class="content faq">

  {% include static_header.html page=page %}
  {% for question in page.questions %}
    <section class="content__row faq__section">
      <div class="faq__section-content-container">
        <h2 class="faq__question">{{ question.question }}</h2>
        <div class="faq__answer">
          {{ question.answer | markdownify }}
        </div>
      </div>
    </section>
  {% endfor %}

  <section class="content__row content__row--bleed faq__contact">
    <img src="{{ 'images/promo.jpg' | relative_url }}" alt="" class="faq__contact-image">
    <div class="faq__contact-text-container">
      <h3 class="faq__contact-title">Still have questions? <br> Get in touch.</h3>
      <div class="faq__contact-info-container">
        <p class="faq__contact-address">Hudson Valley, New York, USA</p>
        <p class="faq__contact-telephone"></p>
        <a class="faq__contact-email link link--filled" href="mailto:jewelry@helensuter.studio">By Email</a>
        <div class="faq__seperator"></div>
        <a class="faq__map-link link link--filled" href="https://instagram.com/helensuterjewelry" target="_blank">
          On Instagram
        </a>
      </div>
    </div>
  </section>
</main>
